<!DOCTYPE html>
<html>
<head>
	<title>COVID - 19 NEWS</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="static/css/stylesheet.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/sorttable.js') }}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">CoronaDash</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link active" href="/news">News</a>
      <a class="nav-item nav-link" href="/display">Cases</a>
      <a class="nav-item nav-link" href="/api">API</a>
    </div>
  </div>
</nav>
<div class="text-primary" align="center">
	<h1><strong> COVID - 19 NEWS </strong></h1>
</div>
<div class="row-sm-auto" align="center">
	<h4><span class="badge badge-warning">Top Headlines</span></h4>
</div>
{% for i in range(0, length) %}
<div class="row justify-content-center">
	<div class="col-sm-auto"><a href="{{ news_data[i][3] }}">{{ news_data[i][1] }}</a></div>
	<div class="col-sm-auto"><span class="badge badge-success">{{ news_data[i][0] }}</span></div>
</div> 
{% endfor %}
<div class="row-sm-auto" align="center" style="margin-top: 20px;">
	<h4><span class="badge badge-warning">Important Links</span></h4>
</div>
<div class="row justify-content-center">
	<div class="col-sm-auto"> <a href= "https://www.cdc.gov/coronavirus/2019-ncov/index.html" class="text-success"><strong>CDC</strong></a></div>
	<div class="col-sm-auto"> <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" class="text-success"><strong>WHO</strong></a></div>
</div>
</body>
</html>