<!DOCTYPE html>
<html>
<head>
	<title>COVID -19 CASES</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/sorttable.js') }}"></script>
</head>
<body>
<div style="margin-top:15px; margin-left:13%; margin-right:31%" class="alert alert-primary" align="center">
	<h1><samp> COVID - 19 CASES OVERVIEW </samp></h1>
</div>
<!-- <div style="float:right; margin-right:15px;" class="alert alert-success" align="center"-->
	<h6><samp> <LAST UPDATED: {{ last_updated }} </samp></h6>
<!-- </div-->
<div style="margin-left:100px;">
	<table class = "sortable table table-sm table-bordered table-striped table-hover table-dark" style="width:60%" align="center">
			<thead>
				<tr>
					<th scope="col"> Country </th>
					<th scope="col"> Confirmed </th>
					<th scope="col"> Recovered </th>
					<th scope="col"> Deaths </th>
					<th scope="col"> Recovery Rate (%) </th>
					<th scope="col"> Death Rate (%) </th>
				</tr>
			</thead>
			<tbody>
			{% for r in table %}
				<tr>
                    <td> {{ r[0] }} </td>
                    <td> {{ r[1] }} </td>
                    <td> {{ r[3] }} </td>
                    <td> {{ r[2] }} </td>
                    <td> {{ r[5] }} </td>
                    <td> {{ r[6] }} </td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
</div>
</body>
</html>
