<!DOCTYPE html>
<html>
<head>
	<title>COVID -19 CASES</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1><center><samp> COVID - 19 CASES OVERVIEW </samp></center></h1>
		<table class = "table table-sm table-bordered table-striped table-hover table-dark" style="width:70%" align="center">
			<thead>
				<tr>
					<th scope="col"> <button type="button" class="btn btn-dark btn-sm btn-block" id = "co"> Country </button> </th>
					<th scope="col"> <button type="button" class="btn btn-dark btn-sm btn-block" id = "con"> Confirmed </button></th>
					<th scope="col"> <button type="button" class="btn btn-dark btn-sm btn-block" id = "r"> Recovered </button></th>
					<th scope="col"> <button type="button" class="btn btn-dark btn-sm btn-block" id = "d"> Deaths </button></th>
					<th scope="col"> <button type="button" class="btn btn-dark btn-sm btn-block" id = "l" > Last Updated (GMT) </button></th>
					<th scope="col"> <button type="button" class="btn btn-dark btn-sm btn-block" id = "rec"> Recovery Rate (%) </button></th>
					<th scope="col"> <button type="button" class="btn btn-dark btn-sm btn-block" id = "dr"> Death Rate (%) </button></th>
				</tr>
			</thead>
			<tbody>
			{% for r in table %}
				<tr>
                    <td> {{ r[0] }} </td>
                    <td> {{ r[1] }} </td>
                    <td> {{ r[3] }} </td>
                    <td> {{ r[2] }} </td>
                    <td> {{ r[4] }} </td>
                    <td> {{ r[5] }} </td>
                    <td> {{ r[6] }} </td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
</body>
</html>
